<div class="dpanelrow">

  <div class="dpanel1 theme-dark col-md-2">
    <div class="row">
      <div>
        <i><span class=" fa fa-laptop fa-2x"></span></i>
      </div>
      <div>
        <p class="user">CLIENT</p>
        <h3>0215</h3>
      </div>
    </div>
  </div>

  <div class="dpanel1  theme-dark col-md-2">
    <div class="row">
      <div>
        <i><span class=" fa fa-calendar fa-2x"></span></i>
      </div>
      <div>
        <p class="user">WORKED DAYS</p>
        <h3>0300</h3>
      </div>
    </div>
  </div>

  <div class="dpanel1 theme-dark col-md-2">
    <div class="row">
      <div>
        <i><span class=" fa fa-copy fa-2x"></span></i>
      </div>
      <div>
        <p class="user">FINISHED FILES</p>
        <h3>0300</h3>
      </div>
    </div>
  </div>

  <div class="dpanel1 theme-dark col-md-2">
    <div class="row">
      <div>
        <i><span class=" fa fa-comment fa-2x"></span></i>
      </div>
      <div>
        <p class="user">UPLOAD FILES</p>
        <h3>0300</h3>
      </div>
    </div>
  </div>

</div>