<div class="wrapper">

  <div class="row dpanel-row">
    <div class="dpanel1  pn col-sm-3 ">
      <div class="row">
        <div>
          <i><span class="dspan1 fa fa-laptop fa-2x"></span></i>
        </div>
        <div>
          <p class="user">SUPERADMIN</p>
          <h3>0215</h3>
        </div>
      </div>
    </div>

    <div class="dpanel1  pn col-sm-3 ">
      <div class="row">
        <div>
          <i><span class="dspan1 fa fa-calendar fa-2x"></span></i>
        </div>
        <div>
          <p class="user">WORKED DAYS</p>
          <h3>0300</h3>
        </div>
      </div>
    </div>

    <div class="dpanel1  pn col-sm-3 ">
      <div class="row">
        <div>
          <i><span class="dspan1 fa fa-copy fa-2x"></span></i>
        </div>
        <div>
          <p class="user">FINISHED FILES</p>
          <h3>0300</h3>
        </div>
      </div>
    </div>

    <div class="dpanel1  pn col-sm-3 ">
      <div class="row">
        <div>
          <i><span class="dspan1 fa fa-comment fa-2x"></span></i>
        </div>
        <div>
          <p class="user">UPLOAD FILES</p>
          <h3>0300</h3>
        </div>
      </div>
    </div>
    
     <div class="dpanel1  pn col-sm-3 ">
      <div class="row">
        <div>
          <i><span class="dspan1 fa fa-adjust fa-2x"></span></i>
        </div>
        <div>
          <p class="user">SPENDED HOURS</p>
          <h3>0300</h3>
        </div>
      </div>
    </div>

  </div>

</div>