    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 p404 centered">
            <img src="img/404.png" alt="">
            <h1>{{message}}</h1>
            <h3>{{error.status}}</h3>
            <br>
            <div class="row">
                <pre>{{error.stack}}</pre>
            </div>

        </div>
    </div>
