<div id="login-page">
    <div class="container">
        <form class="form-login" action="/signup" method="POST">
            <h2 class="form-login-heading ">sign up now</h2>

            <div class="login-wrap">
                <!--Warning Massage-->
                {{#if signupErr}}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong> {{signupErr}}</strong>
                </div>
                {{/if}}
                <!--Warning Massage-->
                <input type="text" class="form-control " name="First_Name" id="firstname" placeholder="First Name"
                    autofocus required>
                <input type="text" class="form-control " name="Last_Name" id="lastname" placeholder="Last Name"
                    required>
                <input type="text" class="form-control " name="Mobile" id="mobile" placeholder="Mobile" required>
                <input type="email" class="form-control " name="Email" id="email" placeholder="Email" required autocomplete="off">
                <input type="password" class="form-control " name="Password" id="password" placeholder="Password"
                    required autocomplete="off">
                <input type="password" class="form-control " name="Password1" id="password1"
                    placeholder="Confirm Password" required autocomplete="off">
                <button class="btn btn-theme" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
            </div>
            <hr>
            <div class="registration">
                Go back to <a href="/login">Sign in </a> Page
            </div>
        </form>
    </div>
</div>