<div class="row">
    <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="img/404.png" alt="">
        <div class="dvider"></div>
        <h1>404 Not Found</h1>
        <p>We're sorry, this resource is not found</p>
        <a href="/" class="btn btn-danger btn-sm">Go to Dashboard</a>

    </div>
</div>