<div class="row">
    <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="img/505.png" alt="">
        <div class="dvider"></div>
        <h1>Server Error</h1>
        <p>We're sorry, something went wrong !!!</p>
        <a href="/" class="btn btn-danger btn-sm">Go to Dashboard</a>
    </div>
</div>