<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          {{#if userInfo.image}}
          <p class="centered"><a href="/client-profile"><img src="{{userInfo.image}}" class="img-circle" width="80"></a></p>
          {{else}}
          <p class="centered"><a href="/client-profile"><img src="img/portfolio/unkownperson.jpg" class="img-circle" width="80"></a></p>
          {{/if}}
          
          <h5 class="centered">{{userInfo.displayName}}</h5>
          <h6 class="centered arole">{{userInfo.role}}</h6>
          <li class="mt">
            <a class="active" href="/">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-file-text"></i>
              <span>Create</span>
              </a>
            <ul class="sub">
              <li><a href="/client-askquote">Request Quotation</a></li>
            </ul>
          </li>

         

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-inbox"></i>
              <span>Inbox</span>
              </a>
            <ul class="sub">
              <li><a href="#">Quotation</a></li>
            </ul>
          </li>

           <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-paper-plane"></i>
              <span>Sent</span>
              </a>
            <ul class="sub">
              <li><a href="/client-viewquotereq">Quotation</a></li>
            </ul>
          </li>
          
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>